
@media only screen and (min-width: 991px){

    .mail-button::after {
        content: "";
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 80px);
        border-bottom: 80px solid #383838;
        border-right: 80px solid transparent;
        transition: .4s ease-in-out all;
    }
    .mail-button:hover::after {
        left: 0;
    }
    .button-section-down::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        left: calc(-100% - 80px);
        border-bottom: 80px solid #383838;
        border-right: 80px solid transparent;
        transition: .4s ease-in-out all;
    }
    .button-section-down:hover::after {
        left: 0;
    }
    .left-nav a.active, li a:hover {
        background: #212121;
        transition: 0.5s;
    }
    
}
